.toolbar-primary {
  text-align: center;
}

.content-container {
  background: #f8f9fa;
  padding: 20px;
}

/* Estilos para los ion-item */
.custom-item {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
