<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="danger">Eliminar Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item class="custom-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="txt_nombre" type="text" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="custom-item">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="txt_apellido" type="text"></ion-input>
         </ion-item>
      </ion-col>  
      <ion-col size="12">
        <ion-item class="custom-item" style="flex-direction: column;">
          <ion-label position="floating">Telefono</ion-label>
          <ion-input [(ngModel)]="txt_telefono" type="text"></ion-input>
          <ion-label color="danger" >{{mensaje}}</ion-label>
         </ion-item>
      </ion-col>  
      <ion-col size="12">
        <ion-item class="custom-item">
          <ion-label position="floating">Mail</ion-label>
          <ion-input [(ngModel)]="txt_correo" type="E-mail"></ion-input>
        </ion-item>
      </ion-col>    
    </ion-row>
    <ion-row class="button-container">
      <ion-col size="6">
        <ion-button expand="full" color="danger" id="mostrar-alerta" class="custom-button">Eliminar</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" color="warning" (click)="cancelar();" class="custom-button">Cancelar</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>    

  <ion-alert
    trigger="mostrar-alerta"
    header="Confirmacion"
    message="Esta seguro de eliminar el registro"
    [buttons]="alertButtons"
  ></ion-alert>
  
</ion-content>
